<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>{% block title %}Seiken-Hossegor{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <!-- Following Menu -->
    {% include ':navigation:following.html.twig' %}

    <!-- Sidebar Menu -->
    {% include':navigation:sidebar.html.twig' %}


    <!-- Page Contents -->
    <div class="pusher">
        <!-- Header -->
        <div class="ui inverted vertical masthead center aligned segment" id="header"
             style="background: url('{{ asset(''~img~'') }}') no-repeat {{ position }}/cover fixed;">

            <!-- Fixed Menu -->
            {% include':navigation:fixed.html.twig' %}

            <div class="ui text container">
                <h1 class="ui inverted header" id="title">
                    Seiken Hossegor
                </h1>
                <h2 class="ui inverted header">Association de Karaté Contact d'Hossegor.</h2>
                <a class="ui huge red button" href="{{ path('contact') }}">S'inscrire <i
                            class="right arrow icon"></i></a>
            </div>

        </div>
        <!-- Content -->
        {% block content %}

        {% endblock %}


        <!-- Footer -->
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted stackable grid">
                    <div class="two wide column">
                        <h4 class="ui inverted header">A propos</h4>
                        <div class="ui inverted link list">
                            <a href="contact.html" class="item">Contactez-Nous</a>
                            <a href="https://www.facebook.com/groups/seikenhossegor/" class="item">Facebook</a>
                            <a href="#" class="item">FAQ</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Sponsors</h4>
                        <div class="ui inverted link list">
                            <a href="http://www.e-leclerc.com/capbreton" class="item">E.Leclerc Capbreton</a>
                            <a href="https://www.smefazur.fr/" class="item">Smef Azur</a>
                            <a href="http://deltaconseil.fr" class="item">Delta Conseil</a>
                            <a href="http://www.soorts-hossegor.fr/vivre-ici/vie-associative/1113-annuaire-des-associations/93-association-seiken.html"
                               class="item">Mairie Soorts-Hossegor</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Liens Utiles</h4>
                        <div class="ui inverted link list">
                            <a href="http://sites.ffkarate.fr/aquitaine/" class="item">Ligue Aquitaine de Karaté</a>
                            <a href="http://sites.ffkarate.fr/landes/" class="item">Comité departemantal des Landes
                                Karaté</a>
                            <a href="http://www.valera-karatecontact.com/" class="item">Valera Karaté Contact</a>
                            <a href="http://www.hossegor.fr/fr/commerces-services/detail/seiken-hossegor/" class="item">Office
                                de Tourisme d'Hossegor</a>
                        </div>
                    </div>
                    <div class="two wide column"></div>
                    <div class="six wide column">
                        <h2>Newsletter !!!</h2>
                        <p>Inscrivez vous a notre newsletter pour être informé des dernières nouveautées.</p>
                        {{ render(controller("AppBundle:Newsletter:add", {"request" : app.request})) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="ui inverted vertical segment">
            <div class="ui right aligned container">
                © 2017 Seiken Hossegor - <a href="https://sanjuant.fr">sanjuant.fr</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("assets/js/jquery.min.js") }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
</body>
</html>