<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>{% block title %}Seiken-Hossegor{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <!-- Following Menu -->
    {% include ':navigation:following.html.twig' %}

    <!-- Sidebar Menu -->
    {% include':navigation:sidebar.html.twig' %}


    <!-- Page Contents -->
    <div class="pusher">
        <!-- Header -->
        <div class="ui inverted vertical masthead center aligned segment" id="header"
             style="background: url('{{ asset(''~img~'') }}') no-repeat {{ position }}/cover fixed;">

            <!-- Fixed Menu -->
            {% include':navigation:fixed.html.twig' %}

            <div class="ui text container">
                <h1 class="ui inverted header" id="title">
                    Seiken Hossegor
                </h1>
                <h2 class="ui inverted header">Association de Karaté Contact d'Hossegor.</h2>
                <a class="ui huge red button" href="{{ path('contact') }}">S'inscrire <i
                            class="right arrow icon"></i></a>
            </div>

        </div>
        <!-- Content -->
        {% block content %}

        {% endblock %}

        <!-- Footer -->
        {% include':parts:footer.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("assets/js/jquery.min.js") }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
</body>
</html>