{{ form_start(form, {"attr": {"novalidate":"novalidate"}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}
  {# Génération manuelle et éclatée : #}
<div class="field required">
    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.email) }}

    {# Génération de l'input. #}
    {{ form_widget(form.email, {'attr': {'placeholder': 'Entrez votre email'}}) }}
</div>
{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.envoyer, {'attr': {'class': 'ui button'}}) }}

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>