<div class="card">
    <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <a class="ui inverted button" href="{{ path('boutique.product', { 'id': product.id }) }}">Show
                        Description</a>
                </div>
            </div>
        </div>
        {#<div class="slider">#}
        <img src="{{ asset('images/boutique/thumbnails/Blitz-Pro-Boxing-Gloves-Blue.jpg') }}"/>
        {#<img src="./images/boutique/k-contact/thumbnails/Standard-Leather-Boxing-Gloves-Blue.jpg"/>#}
        {#<img src="./images/boutique/k-contact/thumbnails/Standard-Leather-Boxing-Gloves-Red.jpg"/>#}
        {#<img src="./images/boutique/k-contact/thumbnails/Standard-Leather-Boxing-Gloves-White.jpg"/>#}
        {#{{ dump(product) }}#}
        {#</div>#}
    </div>
    <div class="content">
        <div class="header center aligned">{{ product.name }}</div>
        {#<div class="description">#}
        {#<div class="ui form">#}
        {#<p>{{ product.description }}</p>#}
        {#</div>#}
        {#</div>#}
    </div>
    <div class="extra content">
        <span class="price">{{ product.price }}</span>
        <i class="euro icon"></i>
        <a class="tiny ui vertical animated right floated button" tabindex="0"
           href="{{ path('boutique.product', { 'id': product.id }) }}">
            <div class="hidden content">Add</div>
            <div class="visible content">
                <i class="shop icon"></i>
            </div>
        </a>
    </div>
</div>