<div class="row">
    <h3 class="ui header">
        <a href="{{ path('news.post', {'slug': post.slug}) }}" class="h3 title">{{ post.title }}</a>
        <div class="sub header">
        <span class="post-auhor-date">{{ post.author }}, <a
                    href="{{ path('news.post', {'slug': post.slug}) }}">le {{ post.date|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy")|title }}</a></span>
            -
            <span class="post-comment"><a href="{{ path('news.post', {'slug': post.slug}) }}#comments"><i
                            class="comment outline icon"></i> {{ post.comments|length }}</a></span>
            {% if post.category is not null %}
                -
                <span class="post-category"><i class="tag icon"></i><a href="#">{{ post.category }}</a></span>
            {% endif %}
        </div>
    </h3>

    {#<img class="ui small left floated rounded image" src="./images/news1.jpg">#}

    {% if app.request.pathInfo is not same as('/news/' ~ post.slug) %}
        <p>{{ post.content| substrws(300) | raw }}</p>

        {# Si le texte a été tronquer alors on affiche le bouton afficher la suite #}
        {% if istrunc(post.content, 300) %}
            <a href="{{ path('news.post', {'slug': post.slug}) }}" class="ui large button">Lire la suite</a>
        {% endif %}
    {% else %}
        <p>{{ post.content | raw }}</p>
    {% endif %}
</div>