{% extends "::base-admin.html.twig" %}

{% block content %}

    <h3>Liste des posts
        <small><a class="btn btn-sm btn-info pull-right" href="{{ path('admin.post.add') }}"><i
                        class="glyphicon glyphicon-plus"></i> Ajouter</a></small>
    </h3>
    <hr/>

    <table id="table_id" class="table table-striped table-bordered display">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Date</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        {%- if posts is not null %}
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.date|date("d-m-Y", "Europe/Paris") }}</td>
                    <td>{{ post.category }}</td>
                    <td>
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu ">
                                <li><a href="{{ path("admin.post.edit", {"id": post.id}) }}"><i
                                                class="glyphicon glyphicon-ok"></i> &nbsp;Editer</a></li>
                                <li><a href="{{ path("admin.post.delete", {"id": post.id}) }}"><i
                                                class="glyphicon glyphicon-remove"></i> &nbsp;Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include 'parts/datatables.html.twig' %}
{% endblock %}