{% extends 'base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui two column middle aligned stackable grid container">
            <div class="row">
                <div class="four wide column">
                    <div class="ui vertical steps">
                        <a class="completed step">
                            <i class="truck icon"></i>
                            <div class="content">
                                <div class="title">Previous Step</div>
                                <div class="description">Description</div>
                            </div>
                        </a>
                        <a class="active step">
                            <i class="payment icon"></i>
                            <div class="content">
                                <div class="title">Active Step</div>
                                <div class="description">Description</div>
                            </div>
                        </a>
                        <a class="disabled step">
                            <i class="info icon"></i>
                            <div class="content">
                                <div class="title">Disabled Step</div>
                                <div class="description">Description</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="row">
                        <div class="ui segment">{{ recap.lastname }}</div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div class="row">
                        <div class="ui segment">
                            <table class="ui celled table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for index, cartItem in recap.cart %}
                                    {% set totalPrice = cartItem.price * cartItem.quantity %}
                                    <tr>
                                        <td>{{ cartItem.id }}</td>
                                        <td>{{ cartItem.name }}</td>
                                        <td>{{ cartItem.color }}</td>
                                        <td>{{ cartItem.size }}</td>
                                        <td>{{ cartItem.quantity }}</td>
                                        <td>{{ cartItem.price }}</td>
                                        <td>{{ totalPrice }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ path('cart.success') }}">Suivant</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
