{% extends 'base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui two column aligned stackable grid container">
            <div class="row">
                <div class="four wide column">
                    <div class="ui vertical steps">
                        <a class="completed step" href="{{ path('cart') }}">
                            <i class="shopping basket icon"></i>
                            <div class="content">
                                <div class="title">Panier</div>
                                <div class="description">Vérfier vos articles</div>
                            </div>
                        </a>
                        <a class="completed step" href="{{ path('cart.address') }}">
                            <i class="truck icon"></i>
                            <div class="content">
                                <div class="title">Informations</div>
                                <div class="description">Entrez vos informations</div>
                            </div>
                        </a>
                        <a class="active step">
                            <i class="info icon"></i>
                            <div class="content">
                                <div class="title">Récapitulatif</div>
                                <div class="description">Vérfier la commande</div>
                            </div>
                        </a>
                        <a class="disabled step">
                            <i class="checkmark icon"></i>
                            <div class="content">
                                <div class="title">Validation</div>
                                <div class="description">Commande terminée</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="row">
                        <div class="ui segment">
                            <a class="header">{{ recap.firstname }} {{ recap.lastname }}</a>
                            <div class="meta">
                                <span>{{ recap.address }}, <br/>{{ recap.postalCode }} {{ recap.city }}</span>
                            </div>
                            <div class="extra">
                                <span class="ui sub header">{{ recap.email }}</span><br/>
                                <span class="ui sub header">{{ recap.phone }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div class="row">
                        <div class="ui clearing segment">
                            <table class="ui celled table">
                                <thead>
                                <tr>
                                    <th>Ref</th>
                                    <th>Name</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for index, cartItem in recap.cart %}
                                    {% set totalPrice = cartItem.price * cartItem.quantity %}
                                    <tr>
                                        <td>{{ cartItem.ref }}</td>
                                        <td>{{ cartItem.name }}</td>
                                        <td>{{ cartItem.color }}</td>
                                        <td>{{ cartItem.size }}</td>
                                        <td>{{ cartItem.quantity }}</td>
                                        <td>{{ cartItem.price }}</td>
                                        <td>{{ totalPrice }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>{{ recap.totalPrice }}</b></td>
                                </tr>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                            <a class="ui animated right floated button" href="{{ path('cart.success') }}" tabindex="0">
                                <div class="visible content">Terminer</div>
                                <div class="hidden content">
                                    <i class="right arrow icon"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
