{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="one column row">
                <div class="column">
                    <img class="ui right floated rounded medium image" src="{{ asset('assets/img/training.jpg') }}" alt="training">
                    <h3 class="ui red header">
                        TRAINING
                        <div class="sub header">Jogging, renforcement musculaire, travail aux élastiques,
                            assouplissements…
                        </div>
                    </h3>
                    <p>Développez votre corps de façon harmonieuse avec un accompagnement pour atteindre vos objectifs.
                        Préparation générale ou spécifique en vue d’améliorer ses capacités physiques pour un objectif
                        particulier.</p>
                </div>
            </div>
            <div class="one column row">
                <div class="column">
                    <img class="ui left floated rounded medium image" src="{{ asset('assets/img/boxing.jpg') }}" alt="boxing">
                    <h3 class="ui red header">
                        BOXING
                        <div class="sub header">Travail pied poing sur cibles, sac de frappe…</div>
                    </h3>
                    <p>Evacuez votre Stress tout en améliorant vos réflexes.
                        Accompagnement visant à améliorer vos capacités cardio-vasculaires.</p>
                </div>
            </div>
            <div class="one column row">
                <div class="column">
                    <img class="ui right floated rounded medium image" src="{{ asset('assets/img/defense.jpg') }}" alt="defense">
                    <h3 class="ui red header">
                        DEFENSE
                        <div class="sub header">Travaillez votre « confiance en soi ».</div>
                    </h3>
                    <p>Apprenez à vous défendre de manière simple et efficace en sachant se préserver et réagir à
                        différentes situations.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="six wide column">
                    <img class="ui rounded image" src="{{ asset('assets/img/particulier.jpg') }}" alt="training particulier">
                </div>
                <div class="ten wide column">
                    <h3 class="ui red header">PARTICULIER</h3>
                    <p>Coaching sportif individuel ou duo : une prise en charge sur mesure, un programme
                        personnalisé
                        visant une amélioration sur tous les plans (forme, santé, stress,confiance en soi).</p>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>Tarifs solo</td>
                            <td>37€ la séance ou 350 € les 10 séances</td>
                        </tr>
                        <tr>
                            <td>Tarifs duo</td>
                            <td>22€ la séance ou 200 € les 10 séances</td>
                        </tr>
                        <tr>
                            <td>Lieux</td>
                            <td>Domicile, extérieur, salle de sport</td>
                        </tr>
                        <tr>
                            <td>Publics</td>
                            <td>Débutants, Sportifs, Confirmés</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui computer reversed middle aligned stackable grid container">
            <div class="row">
                <div class="six wide column">
                    <img class="ui rounded image" src="{{ asset('assets/img/groupe.jpg') }}" alt="training groupe">
                </div>
                <div class="ten wide column">
                    <h3 class="ui red header">GROUPE</h3>
                    <p>Le Training mini-collectif a lieu en extérieur plusieurs fois par semaine, en groupe de 4 à 6
                        personnes maximum.</p>
                    <p>Possibilité de privatiser le cours avec des amis (à partir de trois personnes).</p>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>Horaires</td>
                            <td>Flexibles et adaptés à la demande</td>
                        </tr>
                        <tr>
                            <td>Tarifs</td>
                            <td>12€ la séance ou 100 € les 10 séances</td>
                        </tr>
                        <tr>
                            <td>Lieux</td>
                            <td>Extérieur, salle de sport</td>
                        </tr>
                        <tr>
                            <td>Publics</td>
                            <td>Débutants, Sportifs, Confirmés</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="six wide column">
                    <img class="ui rounded image" src="{{ asset('assets/img/entreprise.jpg') }}" alt="training entreprise">
                </div>
                <div class="ten wide column">
                    <h3 class="ui red header">ENTREPRISE</h3>
                    <p>Un accompagnement complet lors de vos séminaires, pendant vos vacances ou directement dans votre
                        entreprise. L’objectif est de créer une dynamique de groupe favorisant la cohésion et le travail
                        d’équipe, d’apporter du bien-être et de diminuer le stress grâce à une activité physique
                        adaptée.</p>
                    <p>N’hésitez pas à me contacter.</p>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>Tarifs</td>
                            <td>Sur mesure</td>
                        </tr>
                        <tr>
                            <td>Lieux</td>
                            <td>Entreprise, hôtel, extérieur</td>
                        </tr>
                        <tr>
                            <td>Publics</td>
                            <td>Débutants, Sportifs, Confirmés</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

